<div class="wrapper">
  <div id="sidebar">
    <button id="sidebarToggle" class="btn btn-border"></button>
    <div class="body"><a href="enter.html" class="logout">Выйти из учетной записи</a>
      <div class="main">
        <a routerLink="/residential" routerLinkActive="active"><span><span
          class="navActive">Рейтинг</span> новостроек</span></a>
        <a routerLink="/search" routerLinkActive="active"><span class="navActive">Поиск</span></a>
        <a href="card.html"><span>Новостройки</span></a>
      </div>
    </div>
    <a href="enter.html" class="logo"></a>
  </div>
  <div class="content">

    <div style="text-align:center">
      <h1>
        Welcome to {{ title }}!
      </h1>
    </div>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
